* {
  box-sizing: border-box;
}

:root {
  font-size: clamp(
    16px,
    1.5vw,
    24px
  ); /* Adjust root font-size based on viewport */
}

@media (min-width: 1024px) {
  body {
    font-size: 1.5rem; /* Bigger font size for larger screens */
  }
}

body {
  min-height: 100svh;
  min-height: 100vh;

  width: 100%;
  max-width: 100%;

  padding: 0;
  margin: 0;

  background-color: #0a0a0a;
  color: #e4be6a;

  overflow-x: hidden;

  --spacing: 2rem;
}

.app-bar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: end;
  padding: var(--spacing);
}

.button-menu {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.button-menu::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #e4be6a;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.button-menu:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header-img {
  width: 100%;
  height: auto;
}

main {
  padding: var(--spacing);
}

.movie-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  flex-wrap: wrap;
  cursor: default
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  gap: 2rem;
}

.contact-button {
  width: 2rem;
  height: auto;
}

@media (min-width: 1024px) {
  .contact-button {
    width: 4rem;
  }
}

footer {
  position: static;
  bottom: 0;
  min-height: 48px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: var(--spacing);
  cursor: default;
}
