body {
  min-height: 100svh;
  min-height: 100vh;

  width: 100svw;
  width: 100vw;

  padding: 0;
  margin: 0;

  background-color: #0A0A0A;
  color: #E4BE6A
}

.button-menu {
  position: relative;
}

.button-menu::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #E4BE6A;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.button-menu:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.body {
  padding: 0 12px;
  width: inherit
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  flex-grow: 1;
}

.embla__slide {
  position: relative;
  flex: 0 0 auto;
  /* Adapt slide size to its content */
  min-width: 0;
  max-width: 100%;
  /* Prevent from growing larger than viewport */
  margin-right: 24px;
  margin-left: 24px;
}

section {
  padding-top: 48px;
}

.footer {
  position: static;
  bottom: 0;
  min-height: 48px;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}